
.cadastrar {
    margin-top: 20px;
    width: 100%;
    background: #235e9c;
    color: #fff;
}

.check-count{
    text-align: center;
    margin-top: 20px;
}

.mensagem-enviando{
    color: #235e9c;
}

