.label-input{
    width: 100%;

}

label{
    font-size: 0.9rem;
}


.campo-entrada{
    width: 100%;
    padding: 5px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: solid 1px #d3d3d3;
    box-shadow: 1px 2px 4px #616161;
}

.mensagem-erro{
    color: red;
    font-size: 0.8rem;
}
