#btn-principal {
    background: var(--azul-preto);
    border: none;
    border-radius: 5px;
    padding: 12px;
    height: 50px;
    cursor: pointer;
    font-size: 0.8rem;
    box-shadow: 1px 2px 4px #616161;
}
