.card-servico {
    width: 100%;
    /* height: 142px ; */
    background: var(--cor-card);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    box-shadow: 1px 2px 4px #616161;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
   

}



.card-aberto{
z-index: 6;  
height: auto;
width: 200px;
position: absolute;
}


.mensagemSemServico {
    text-align: center;
}

.services {
    height: 64vh;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.btn-card-serv{
    width: 40px;
    height: 40px !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 50% !important;
}


.apagar,
.editar,
.mais-detalhes {
    width: 40px;
    padding: 0 !important;
    font-size: 1.5rem !important;
}

.apagar {
    color:var(--cor-alerta);
    background: var(--azul-preto) !important;
}

.editar {
    color: var(--cor-sucesso);
    background-color: var(--azul-preto) !important;
}

.mais-detalhes {
    background: transparent !important;
    box-shadow: none !important;
    width: 20px;
    height: 20px !important;
    position: absolute;
    top: 0;
    right: 10px;
}

.alerta {
    color:var(--cor-alerta);
    font-size: 1rem !important;
}

.conclui-apagar,
.cancela-apagar {
    font-size: 0.9rem !important;
    padding: 0 15px !important;
}

.conclui-apagar {
    background-color: #f73030e0 !important;
    color: #cbe7eb;
}

.cancela-apagar {
    background-color: #b1b1b1 !important;
    color: #000;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 0;
}

.btn-novo-servico {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.btn-novo-servico a {
    color: #ffffff;
    padding: 14px 36%;
}

.div-apagando-servico {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.lixeira-animada {
    width: 80px;
}

/* campo do textarea da observação */
.campo-obs {
    border: solid 1px #bbbbbb;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #616161;
    padding: 5px;
    height: 80px;
    overflow-x: hidden;
    margin-top: 10px;
}

.campo-obs p {
    color: #9e9e9e;
}

.campo-obs p span {
    color: #2b2b2b;
}

.alerta-obs {
    color:var(--cor-alerta);
    border: solid 1px var(--cor-alerta);
    border-radius: 10px;
    box-shadow: 1px 2px 4px #616161;
    padding: 5px;
    height: 80px;
    overflow-x: hidden;
    font-weight: 500;
    background-color: #ff06061a;
    margin-top: 10px;
}


#campo-obs{
    display: none;
}

#alerta-obs{
    display: block;
    color: var(--cor-alerta);
    left: 0;
    font-size: 1.1rem;
 
}