.mensagemSemServico {
    text-align: center;
}

.services{
    height: 64vh;
    padding: 30px 0;
}

.btn-card-serv {
    color: #ffffff;
    box-shadow: none !important;
    width: 40%;
    max-width: 150px;
    box-shadow: 1px 2px 4px #616161 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apagar {
    background: #b1b1b1 !important;
    color: #202020;
    font-weight: 500;
}

.alerta {
    color: red;
    font-size: 1rem !important;
}

.conclui-apagar,
.cancela-apagar {
    font-size: 0.9rem !important;
    padding: 0 15px !important;
}

.conclui-apagar {
    background-color: #c40404 !important;
}

.cancela-apagar {
    background-color: #b1b1b1 !important;
    color: #000;
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 0;
}

.btn-novo-servico{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.btn-novo-servico a{
    color: #ffffff;
  padding: 14px 36%;
}
