.mensagemSemServico {
    text-align: center;
}

.services {
    height: 64vh;
    padding: 30px 0;
}
/* 
.btn-card-serv {
    color: #ffffff;
    box-shadow: none !important;
    width: 40%;
    max-width: 150px;
    box-shadow: 1px 2px 4px #616161 !important;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.apagar,
.editar,
.mais-detalhes {
    width: 40px;
    padding: 0 !important;
    font-size: 1.5rem !important;
}

.apagar {
    color: #cbe7eb;
    background: #f73030e0 !important;
}

.editar {
    color: #cbe7eb;
}

.mais-detalhes {
    background: transparent !important;
    box-shadow: none !important;
    width: 20px;
    height: 20px !important;
    position: absolute;
    top: 0;
    right: 10px;
}

.alerta {
    color: red;
    font-size: 1rem !important;
}

.conclui-apagar,
.cancela-apagar {
    font-size: 0.9rem !important;
    padding: 0 15px !important;
}

.conclui-apagar {
    background-color: #f73030e0 !important;
    color: #cbe7eb;
}

.cancela-apagar {
    background-color: #b1b1b1 !important;
    color: #000;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 0;
}

.btn-novo-servico {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.btn-novo-servico a {
    color: #ffffff;
    padding: 14px 36%;
}

.div-apagando-servico {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.lixeira-animada {
    width: 80px;
}

/* campo do textarea da observação */
.campo-obs {
    border: solid 1px #bbbbbb;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #616161;
    padding: 5px;
    height: 80px;
    overflow-x: hidden;
    margin-top: 10px;
}

.campo-obs p {
    color: #9e9e9e;
}

.campo-obs p span {
    color: #2b2b2b;
}

.alerta-obs {
    color: #c40404;
    border: solid 1px #c40404;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #616161;
    padding: 5px;
    height: 80px;
    overflow-x: hidden;
    font-weight: 500;
    background-color: #ff06061a;
    margin-top: 10px;
}


#campo-obs{
    display: none;
}

#alerta-obs{
    display: block;
    color: #ff0202;
    position: absolute;
    left: 0;
    font-size: 1.1rem;
 
}