
header{
  width: 100%;
  height: 130px;
  /* margin-bottom: 30px; */
}

.top{
    background: #235E9C;
  width: 100%;
  color: #fff;
  display: flex;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px ;
}

.titulo-pagina{
    width: 100%;
  font-size: 1.4rem;
  text-align: center;
}


    
 
    
.services{
    height: 50vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    
}


.buttons{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    
}
.fechar-mes, .relatorio{
    height: 50px;
    border-radius: 5px;
    
}

.fechar-mes{
    background: #235e96;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.relatorio{
    background: #b1b1b1;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.novo-servico{
    width: 100%;
    height: 50px;
    background: #235e96;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    grid-column: span 2;
}

