nav {
    width: 100%;
    height: 30px;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


a {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
}

a.link-inativo {
    color: #686868;
}

a.link-ativo {
    color: #235e96;
    text-decoration: underline 3px;
    font-weight: 700;
}
