nav {
    width: 100%;
    height: 30px;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
}


a {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
    
}

a.link-inativo {
    color: #ffffff;
    font-size: 1.3rem;
}

a.link-ativo {
    /* color: #ececec;
    text-decoration: underline 3px;
    font-weight: 700; */
    display: none;
}

.servicos-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}