nav {
    width: 100%;
    height: 30px;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
}


a {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
    
}

a.link-inativo {
    color: #ffffff;
    font-size: 1.3rem; 
    }
    
    a.link-ativo {
    font-size: 1.3rem;
    color: #ececec;

}

.servicos-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span-link-servicos{
    color: #ffffff;
    font-size: .8rem;
}