.card-total {
    max-width: 250px;
    height: 60px;
    padding: 5px ;
    background: #f3f3f3;
    box-shadow: 1px 2px 4px #474747;
    display: flex;
    gap: 5px;
    color: #000;
    border-radius: 5px;
}

.card-total div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.totais {
    font-size: .9rem;
}

.card-total span{
    font-weight: 500;
}

.btn-eye {
    background: transparent;
    border: none;
    font-size: 1.3rem;
   
}


.total-bruto{
    color: #eb2b2b;
}

.total-liquido{
    color: #004e0a;
}