/* estilos globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --cor-destaque:#0045ff;
    --azul-preto: #0d1224ef;
    --cinza:#dde0e2;
    --cor-card:#d1d6dd;
    --cor-sucesso:#50c204;
    --cor-alerta:#ff3d02;
}

body {
    
   background: var(--cinza);
    width: 100vw;
}

.container {
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
}


main {
    width: 100%;
    padding: 0 8px;
    border-radius: 20px;
    background-color: var(--branco);
}


/* para erros e sucessos geral */
.erro, .sucesso{
    text-align: center;
}

.sucesso{
    color: green;
}


.erro{
    color: red;
}
