/* estilos globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f2f4f4;
    color: #333;
    width: 100vw;
}

.container {
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    border: solid 1px #e2e2e2;
}


main {
    width: 100%;
    padding: 10px;
}

