.spner-animado{
    color: #235E9C;
    font-size: 2rem;
    animation: loading 1.1s  infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)

    }
}