.card-servico {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    box-shadow: 1px 2px 4px #616161;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h2 {
    font-size: .9rem;
}

.dados{
    width: 100%;
}


.dados p {
    font-size: 0.8rem !important;
}

.dados-card span{
margin-right: 5px;
font-weight: 700;
}

.titulo-descricao{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    
}


.butons-card-servico{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.butons-card-servico button{
    height: 40px !important;
}