.card-servico {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    box-shadow: 1px 2px 4px #616161;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h2 {
    font-size: .9rem;
    text-transform:capitalize;
}

.dados{
    width: 100%;
}


.dados p {
    font-size: 0.8rem !important;
     text-transform:capitalize;
}

.dados-card span{
margin-right: 5px;
font-weight: 700;
}

.titulo-descricao{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    
}


.butons-card-servico{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.butons-card-servico button{
    height: 40px !important;
}


#campo-obs{
    margin-top: 10px;
}