.card-servico {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    box-shadow: 1px 2px 4px #616161;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h2 {
    font-size: .9rem;
}

.dados{
    width: 100%;
}


.dados p {
    font-size: 0.8rem !important;
}

.dados-card span{
margin-right: 5px;
font-weight: 700;
}

.titulo-descricao{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

/* campo do textarea da observação */
.campo-obs{
    border: solid 1px #b3b3b3;
    border-radius: 10px;
        box-shadow: 1px 2px 4px #616161;
        padding: 5px;
        height: 80px;
        overflow-x: hidden;

}

.obs {
    width: 100%;
    min-height: 100px;
    border: solid 1px #c0c0c0;
    box-shadow: 1px 2px 4px #dddddd;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
}


.butons-card-servico{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.butons-card-servico button{
    height: 40px !important;
}