
.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h2 {
    font-size: .9rem;
    text-transform:capitalize;
}

.dados{
    width: 100%;
}


.dados p {
    font-size: 0.8rem !important;
     text-transform:capitalize;
}

.dados-card span{
margin-right: 5px;
font-weight: 700;
}

.titulo-descricao{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    margin-bottom: 20px;
    
}


.caixa-icon-alert-expandir{
    width: 100%;
    /* height: 10px; */
    display: flex;
    align-items: center;

}


.butons-card-servico{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}



#campo-obs{
    margin-top: 10px;
}