.card-servico {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    gap: 10px;
    box-shadow: 1px 2px 4px #616161;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
}

.content h2 {
    font-size: 1rem;
}

.dados p {
    font-size: 0.8rem !important;
}

/* campo do textarea da observação */
.obs {
    width: 100%;
    min-height: 100px;
    border: solid 1px #c0c0c0;
    box-shadow: 1px 2px 4px #dddddd;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
}
