
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000093;
}


.poup-up{
    width: 300px;
    /* height: 80px; */
    border-radius: 10px;
    background: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 180px auto;

}

.poup-up p{
    font-size: 1.1rem;
    font-weight: 500;
}