
.overlay{
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000093;
    padding: 10px;
    /* fica na frente */
    z-index: 5;
}


.poup-up{
    max-width: 500px;
    border-radius: 10px;
    background: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 180px auto;
    padding: 20px 10px;
    gap: 10px;

}

.poup-up p{
    font-weight: 500;
    font-size: 1rem;
}