.valor-data{
    display: flex;
    gap: 15px;
}

#obs{
    width: 100%;
    height: 100px;
    padding: 5px;
     border-radius: 5px;
    outline: none;
    border: solid 1px #d3d3d3;
    box-shadow: 1px 2px 4px #616161;
}

.botoes{
    width: 100%;
    display: flex;
    gap: 15px;
    margin-top: 15px;
}


.btn-cancelar{
    background: #b1b1b1 !important;
    padding: 12px;
    width: 50%;
}

.btn-salvar{
    background: #235E9C;
    color: #ffff;
    width: 50%;
}

.sucesso{
    color: green;
}

.form-cad-servico{
    display: flex;
    flex-direction: column;
}
